<app-slider [name]="'Page'"></app-slider>
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 mb-3" id="row">
                <h1 class="text-center">Page</h1>
                <div *ngIf="nombre && apellido">
                    <p>The name is {{nombre}}</p>
                    <p>The lastname is {{apellido}}</p>
                </div>
                <!--<h2 class="title text-center mb-4">Latest articles</h2>
        <article id="clone-article">
            <img src="https://www.w3schools.com/css/paris.jpg" alt="Paisaje" class="img-responsive float-left img-article mr-3" height="150px">
            <p class="title-article font-weight-bold" id="title-article">Article</p>
            <p class="date">5 min ago</p>
            <a href="#" class="">Read more</a>
            <div class="reset"></div>
        </article>
        <article id="clone-article">
            <img src="https://www.w3schools.com/css/paris.jpg" alt="Paisaje" class="img-responsive float-left img-article mr-3" height="150px">
            <p class="title-article font-weight-bold" id="title-article">Article</p>
            <p class="date">5 min ago</p>
            <a href="#" class="">Read more</a>
            <div class="reset"></div>
        </article>
        <article id="clone-article">
          <img src="https://www.w3schools.com/css/paris.jpg" alt="Paisaje" class="img-responsive float-left img-article mr-3" height="150px">
          <p class="title-article font-weight-bold" id="title-article">Article</p>
          <p class="date">5 min ago</p>
          <a href="#" class="">Read more</a>
          <div class="reset"></div>
      </article>-->

            </div>
            <app-sidebar class="col-12 col-md-4 mb-3"></app-sidebar>
        </div>
    </div>
</section>