<section>
    <div class="container-fluid bg-red" [ngClass]="{
        'bg-red' : !size || size == 'big',
        'bg-red-md': size == 'small'
    }">
        <div class="row">
            <div class="col-12">
                <h1 class="title-slider text-center" [ngClass]="{
                    'title-slider': !size || size == 'big',
                    'title-slider-md': size == 'small'
                }">{{name}}</h1>                    
            </div>
            <a [routerLink]="['/blog']" class="btn btn-red mx-auto" *ngIf="!size || size == 'big'">Go to Blog</a>
        </div>
    </div>
</section>